<h1 class="text-center">Authorize your Spotify account to get started.</h1>
<div class="row justify-content-center">
  <div class="col-sm-4">
      <%= link_to 'Authorize Spotify', authorize_path, class: 'authorize-btn btn btn-primary btn-lg w-100' %>
  </div>
</div>